{% extends 'base2.html' %}
{% block heading %}Change Password {% endblock %}
{% block centered %}
<form method="post" action="{% url 'change_password' %}">
  {% csrf_token %}
  {% if form.errors %}
  <div class="auth_error">Oops... an error occurred, try again</div>
  {% endif %}
  <p align="pass_error">{{ error }}</p>
  {{form.current_password.label_tag}}<br/>
  {{form.current_password}}<br/><br/>
  {{form.new_password.label_tag}}<br/>
  {{form.new_password}}<br/><br/>
  {{form.reentered_password.label_tag}}<br/>
  {{form.reentered_password}}<br/><br/>
  <input type="submit" value="Change Password"/><br/>
</form>
{% endblock %}